@model LAB02_1252016_1053016.Models.Pais

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Seleccione delete para borrar o Back to list para regresar</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
