@model LAB02_1252016_1053016.Models.Pais

@{
    Layout = null;
}

<form action="Search" method="POST">
    Nombre del pais: <input id="value" name="nombre" type="text" value="" />
   
    Grupo: <input id="value" name="grupo" type="text" value="" />
           <input id="Button1" type="button" value="button" />
</form>
