
@{
    ViewBag.Title = "Menu";
}

<p><h2>Menu:</h2></p>
<p>Indique la acción que desea realizar:</p>
<p>@Html.ActionLink("Leer archivo .Json para crear enteros", "LecturaArchivo", FormMethod.Get)</p>
<p>@Html.ActionLink("Crear un enteros", "Create")</p>
<p>@Html.ActionLink("Editar un enteros", "EditRedirectioner")</p>
<p>@Html.ActionLink("Eliminar un enteros", "DeleteRedirectioner")</p>