@{
    ViewBag.Title = "Menu";
}

<p><h2>Menu:</h2></p>
<p>Indique la acción que desea realizar:</p>
<p>@Html.ActionLink("Leer archivo .Json para crear paises", "LecturaArchivo", FormMethod.Get)</p>
<p>@Html.ActionLink("Crear un paises", "CargaManual")</p>
<p>@Html.ActionLink("Eliminar un paises", "DeleteRedirectioner")</p>